.nav {
  position: fixed;
  width: 100%;
  background-color: #f9f9fa;
  left: 0px;
  bottom: 0px;
  right: 0px;
  padding: 20px 50px;
  border-top: 1px solid #f7f7f7;
}

.nav .nav__list {
  display: flex;
  justify-content: space-between;
}
.nav .nav__icon {
  font-size: 26px;
}

.nav .nav__list-link {
  position: relative;
}

.nav .nav__badge {
  position: absolute;
  font-size: 11px;
  top: -5px;
  right: -5px;
  color: white;
  background-color: #dc5d46;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
